* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    line-height: 2;
}

header {
    background: #111;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo-container img {
    height: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #00e0ff;
}

.section {
    padding: 60px 10%;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #00e0ff;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.product-card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;

}

.price {
    font-size: 20px;
    margin: 10px 0;
    color: #00ffcc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #00e0ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: white;
    font-size: 15px
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid #333;
}

th {
    background: #00e0ff;
    color: black;
}

.reviews-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 10px;
    border: #111;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

footer {
    background: #111;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}